button
{
    border: none;
    background-color: rgb(0, 102, 204);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:hover
{
    background-color: rgb(0, 102, 204, 0.8);
}

#changeSelfID {
    position: relative;
    padding: 5px 10px;
    font-size: 13px;
    opacity: 0.5;
}
#changeSelfID:hover {
    opacity: 1;
}
.input-box-buttons
{
    padding: 5px 20px;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
}