.input-box textarea
{
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 0; 
    font-size: 14px;
    top: 40px;
    position: absolute;
    height: calc(100% - 95px);
    padding: 0 20px;
    left: 0px;
    width: calc(100% - 44px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
textarea:focus {
    border: none;
    outline: none;
}
.input-box button{
    position: absolute;
    right: 10px;
    bottom: 15px;
    border: 0;
    color: white;
    font-size: 18px;
}